{{#if _singleColumn}}
  {{fd-editform-control control=row.controls.firstObject selectAction=selectAction}}
{{else}}
  {{#each row.controls as |control|}}
    <div class="field" {{action selectAction control bubbles=false}}>
      {{fd-editform-control control=control selectAction=selectAction}}
    </div>
  {{/each}}
{{/if}}