<div class="ui inverted simple dimmer"></div>
{{#each row.controls as |control|}}
  {{fd-editform-control
    control=control
    selectControlAction=selectControlAction
    setDragRowAction=setDragRowAction
    getDragRowAction=getDragRowAction
    moveRowAction=moveRowAction
  }}
{{/each}}