<div class="groupedit-toolbar">
  <button type="button" class="ui ui-add button" title={{t "components.groupedit-toolbar.add-button-text"}}>
    <i class="plus icon"></i>
  </button>
  <button type="button" class="ui ui-delete button" title={{t "components.groupedit-toolbar.delete-button-text"}}>
    <i class="minus icon"></i>
  </button>
</div>
{{fd-object-list-view
  headers=_headers
  rows=_rows
}}