<div class="field">
  <button
    class="ui ui-add button"
    title="Добавить">
      <i class="plus icon"></i>
  </button>
  <button
    class="ui ui-delete button"
    title="Удалить">
      <i class="minus icon"></i>
  </button>
</div>
<div class="field">
    <label>{{label}}</label>
    {{flexberry-textbox
      type=type
      value=value
    }}
</div>
