<div class="fd-centered-new-form empty">
  <h1>{{t "forms.fd-all-projects.greeting"}}</h1>
  <div class="text">{{t "forms.fd-all-projects.pr"}}</div>
  <div class="ui card dashed">
    {{fd-round-button 
      iconClass="icon-fd-plus-thin" 
      colorClass="blue" 
      caption=(t "forms.fd-all-projects.new-project")
      onButtonClicked=(action 'newProject')
    }}
  </div>
</div>