.fd-table > .row {
  border-bottom: none !important;
  & > .fd-table-header {
    padding-top: 1rem !important;
  }
}
.fd-table-first {
  position: absolute;
  left: -2rem;
 }
.fd-table > .row > .column.fd-table-checkbox {
  position: absolute;
  left: -1.8em;
  width: 1.8em;
}
