.fd-table > .row {
  border-bottom: none !important;
  & > .fd-table-header {
    padding-top: 1rem !important;
  }
  & > .column {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
.fd-table > .row > .column.fd-table-checkbox{
  position: absolute;
  left: -2em;
  width: 2em;
}
