.ui.grid.fd-list.view-definition {
  margin: 0;

  > .row {
    margin: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    &:first-child {
      border-top: none;
    }

    .thirteen.wide.column {
      border-top-left-radius: @itemActiveBorderRadius;
      padding-top: 0.7rem
    }

    .three.wide.column {
      border-top-right-radius: @itemActiveBorderRadius;
      &.buttons {
        padding-top: 0.7rem;
      }
    }

    .sixteen.wide.column {
      border-bottom-right-radius: @itemActiveBorderRadius;
      border-bottom-left-radius: @itemActiveBorderRadius;
      padding-bottom: 0.7rem;
    }
  }

  input[type="text"] {
    padding-left: @leftIndent;
    text-overflow: ellipsis;
  }

  .fd-view-attr-name input[type="text"]{
    font-weight: bold;
    color: @lightTextColor + @sidebarBg;
    padding-right: @leftIndent;
  }
}

.ui.basic.button.super-mini {
  background: @sidebarBg !important;
}

.ui.super-mini.button {
  font-size: 0.6rem;
}

.ui.equal.width.grid.fd-view-table-attr {
  // > .column {
  //   height: 100%;
  //   .display-flex();
  //   .flex-direction(column);
  // }

  .column {
    padding: 0;
    &.buttons {
      padding-right: 0.7em;
    }
  }
}

.ui.grid.fd-view-table-attr {
  margin-left: calc(~'-@{leftIndent}');

  .row.active {
    .column {
      background: @sidebarBg;
    }
  }
}

// .fd-create-view {
//   height: 100%;
//   .display-flex();
//   .flex-direction(column);
// }

.fd-view-table-attr {
  // height: 100%;
  // .flex-grow(2);

  > .column {
    .fd-ember-jstree{
      height: 100%;
      // .display-flex();
      // .flex-direction(column);
    }
  }

  .ui.vertical.buttons .ui.button {
    background: @sidebarBg none;
    margin-bottom: @toolbarBtnsmargin;
  }
}

.fd-view-table-attr {
  // .flex-grow(1);
}

.fd-view-buttons {
  margin-top: auto;
  margin-bottom: auto;
}

.overflow-panel {
  overflow: auto;
  transition: max-height .3s;
  max-height: 100%;
  // .flex-grow(1);
}
