.fd-editform-control {
  position: relative;

  &.selected,
  .tab.selected,
  .item.selected {
    outline: 0.2em dashed rgb(79,115,176);
    background-color: rgba(79,115,176, 0.25);
  }

  &.dimmed.dimmable {
    overflow: visible;
  }

  & > .drag-anchor {
    position: absolute;
    display: none;
    z-index: 1;
    width: 2em;
    height: 100%;
    left: 100%;
    border: 0 solid white;
    border-width: .15em .15em .15em 0;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    background: linear-gradient(90deg, #b1cae8 .5em, transparent 1%) center, linear-gradient(#b1cae8 .5em, transparent 1%) center, white;
    background-size: .75em .75em;
    cursor: move;
  }

  &:hover {
    background-color: rgba(177, 202, 232, 0.3);

    & > .drag-anchor {
      display: block;
    }
  }
}
