@fdListColPadding: 0.5em;
.ui.grid.fd-list,
.ui.grid.fd-list-edited {
	> .row {
		border-bottom: @hr;
		margin: 0 1rem;

		.column {
			> div:not(:first-child):not(.fd-editform-row) {
				margin: 1rem 0;
			}

			div:not(.fd-editform-control):last-child {
				margin-bottom: 0;
			}
		}
	}

	.fd-list-item span {
		padding: @fdListColPadding @leftIndent;

		&:hover {
			cursor: pointer;
		}

		&.active {
			background: @fdSheetBg;
			border-radius: @itemActiveBorderRadius;
		}
	}

	> .row > .column {
		padding: @fdListColPadding 0;

		.fd-search-input {
			margin-top: -@fdListColPadding;
		}
	}

	.ui.selection.dropdown {
		padding: 0 1.975em 0 0;
	
		.menu {
			width: auto;
		}
	
		> .dropdown.icon {
			padding: 0 0.91666667em;
		}
	}

	.flexberry-toggler {
		.title {
			position: relative;
			left: -1.6rem;
		}

		&:not(.table-toggler) .title.active {
			margin-bottom: 1rem;
		}

		.flexberry-toggler-content {
			.ui.grid {
				margin-top: 0;
			}
			.row {
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

.ui.grid.fd-list-edited > .row:first-child {
	border-top: @hr;
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.ui.grid.fd-list > .row > .wide.column,
	.ui.grid.fd-list-edited > .row > .wide.column {
		padding-left: 0 !important;

		&:nth-child(2n){
			padding-top: 0 !important;
		}
	}

  .ui.grid .ui.stackable.grid,
  .ui.segment:not(.vertical) .ui.stackable.page.grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

	.ui.accordion .title:not(.ui) {
		padding: 1em 0em;
  }
  .ui.grid > .row {
    margin: 0;
	}
	
	.ui.grid.fd-list .flexberry-toggler .flexberry-toggler-content .row:last-child,
	.ui.grid.fd-list-edited .flexberry-toggler .flexberry-toggler-content .row:last-child {
		padding-bottom: 1em;
	}
}

#mobile {
	.ui.grid.fd-list .fd-list-item span,
	.ui.grid.fd-list-edited .fd-list-item span {
		padding: @fdListColPadding 0;
  }
  
  .ui.grid.fd-list .flexberry-toggler .title.active,
  .ui.grid.fd-list-edited .flexberry-toggler .title.active {
    margin-bottom: 0;
  }
}