<div class="ui stackable grid fd-list">

  <div class="row">
    <div class="five wide column">
      {{t "components.fd-custom-editing-panel.stereotype-caption"}}
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-textbox
        value=model.stereotype
        class=(concat 'fluid input' (if model.isNew '' ' disabled'))
        placeholder=(t "components.fd-custom-editing-panel.stereotype-placeholder")
        focusOut=stereotypeUpdate
        readonly=readonly
      }}
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      {{t "components.fd-custom-editing-panel.description-caption"}}
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-textarea
        value=model.description
        class='fluid input'
        placeholder=(t "components.fd-custom-editing-panel.description-placeholder")
        readonly=readonly
      }}
    </div>
  </div>
</div>
