@import 'fd-uml-diagram';
@import 'src/themes/default/globals/site.variables';
@import 'default/globals/site.variables';
@import 'components/fd-attribute-table.less';

.pushable, .full.height{
  transition: background-color 1s;
}

.pushable.fade,
.pushable.fade .full.height{
  background: @overlayColor;
}

@fdSheetPadding: 3em;
@fdSearchInputPadding: 0.7em 2.5em;

.fd-sheet {
  background: @fdSheetBg;
  height: 100%;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 1s ease;
  width: 100%;

  &.expand {
    transform: translate3d(0, 0, 0) !important;
  }

  .content-mini{
    height: 100%;
    overflow: auto;
    padding: 0 @fdSheetPadding @fdSheetPadding;
    transition: opacity 0.5s ease-in-out;
    width: 50%;
  }

  .fd-sheet-toolbar {
    text-align: right;
    height: 5rem;
    line-height: 5rem;
  }
}

.ui.grid.fd-list {
  .row {
    border-bottom: 1px solid @sidebarBg;
    margin: 0 1rem;

    .column > {
      div:not(:first-child) {
        margin: 1rem 0;
      }

      div:last-child {
        margin-bottom: 0;
      }
    }

    .light-text{
      color: @lightTextColor;
    }
  }

  .fd-list-item span{
    padding: 0.5em 2.5em;
    &:hover {
      cursor: pointer;
    }
    &.active {
      background: @fdSheetBg;
      border-radius: @itemActiveBorderRadius;
    }
  }

  > .row > .column {
    padding: 0.5em 0;
  }
}

h2.form-header {
  margin-bottom: 2em;
  font-weight: normal;
  margin-top: 0;
  font-size: 1.5em;
}

.ui.main.container.fluid {
  padding: 5em 3em 3em;
}

.sitemap-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.current-project-name {
  position: absolute;
  color: black;
  top: 40px;
  left: 40px;
}

.current-project-name-header {
  position: absolute;
  color: gray;
  top: 15px;
  left: 40px;
}

.ui.toggle-sidebar.button {
  position: absolute;
  background: @sidebarBg;
  left: 60px;
  border-radius: @itemActiveBorderRadius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 15px 5px;
  padding-left: 0;
  z-index: 2;
  top: 1rem;
  z-index: 10;
  transition: opacity 500ms step-end;
}

.ui.button.toggle-sidebar-visible {
  border-radius: @itemActiveBorderRadius;
  position: absolute;
  background: #fff;
  padding: 10px 5px;
  top: 1rem;
  right: 0;
  left: auto;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
  opacity: 0;
}

.flexberry-vertical-form {
  transition: opacity 250ms;
}

.ui.form .fd-search-input input[type="text"] {
  padding: @fdSearchInputPadding;
  background: @sidebarBg;
  border-radius: @itemActiveBorderRadius;
}

@media (max-width: 1200px) { 
  html {
    font-size: 14px;
  }
}