<div class="content-mini">
  <div class="ui {{if loadingState "active"}} inverted dimmer">
    <div class="ui text loader"></div>
  </div>
  <div class="fd-sheet-header">
    {{fd-sheets/fd-sheets-tool-bar
      sheetComponentName=sheetComponentName
      sheetComponentName=sheetName
      toolbarVisible=false
    }}
    {{flexberry-textbox
      value=(t "forms.fd-generation.generation-log")
      placeholder=(t "components.fd-sheets-tool-bar.placeholder-caption")
      readonly=true
      class='form-header fluid'
      maxlength=maxlength
    }}
  </div>
  <div class="fd-sheet-body">

  </div>
</div>
