
  <div class="four wide column">
    <div class="light-text"> Имя атрибута</div>
  </div>
  <div class="four wide column"> 
    <div class="light-text"> Заголовок</div>
  </div>
  <div class="four wide column">
    <div class="light-text">Тип</div>
  </div>
  <div class="four wide column"> 
    <div class="light-text"> Описание</div>
  </div>
  <div class="four wide column">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>Дата</label>
    </div>
  </div>
  <div class="four wide column light-text"> 
    <div class="fluid input ember-view flexberry-textbox ui input"> 
      <input placeholder="Заголовок" type="text" class="ember-view ember-text-field">
    </div>
  </div>
  <div class="four wide column">
    <div class="">DateTime</div>
  </div>
  <div class="four wide column light-text"> 
    <div class="fluid input ember-view flexberry-textbox ui input"> 
      <input placeholder="Описание" type="text" class="ember-view ember-text-field">
    </div>
  </div>
  <div class="four wide column">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>ФИО</label>
    </div>
  </div>
  <div class="four wide column light-text"> 
    <div class="fluid input ember-view flexberry-textbox ui input"> 
      <input placeholder="Заголовок" type="text" class="ember-view ember-text-field">
    </div>
  </div>
  <div class="four wide column">
    <div class="">String</div>
  </div>
  <div class="four wide column light-text"> 
    <div class="fluid input ember-view flexberry-textbox ui input"> 
      <input placeholder="Описание" type="text" class="ember-view ember-text-field">
    </div>
  </div>
  <div class="sixteen wide column buttons-row">
    <button class="ui basic button table-btn">Создать атрибут</button>
    <button class="ui basic button table-btn"> 
      <i class="icon icon-fd-checkbox-checked"></i>
      Удалить выбранные
    </button>
  </div>
