{{#ui-sidebar
  class="very wide inverted vertical right animating uncover config-panel"
  closable=false
  dimPage=false
  ui_context=".ember-application > .ember-view"
}}
  <div class="ui inverted segments">
    {{yield}}
  </div>
{{/ui-sidebar}}