{{#flexberry-sidebar
  class="very wide inverted vertical right animating uncover config-panel"
  settings=(hash
    closable=false
    dimPage=false
  )
}}
  <div class="ui inverted segments">
    {{yield}}
  </div>
{{/flexberry-sidebar}}
