<div class="field">
  {{
    fd-search-input
    value=searchTerm
  }}
</div>
<div class="overflow-panel">
  {{
    ember-jstree
    actionReceiver=actionReceiver
    selectedNodes=selectedNodes
    multiple=false
    data=data
    plugins=plugins
    typesOptions=typesOptions
    dndOptions=dndOptions
    searchTerm=searchTerm
    searchOptions=searchOptions
    treeObject=treeObject
    eventDidBecomeReady=(action 'handleTreeDidBecomeReady')
    eventDidSelectNode=(action 'handleTreeDidSelectNode')
    eventDidMoveNode=(action 'handleTreeDidMoveNode')
  }}
</div>
