<label class="ui button basic {{colorClass}} circular icon">
  {{#if _hasIcon}}
    <i class="icon {{iconClass}}"></i>
  {{/if}}
</label>
{{#if _hasCaption}}
<span class="ui basic {{colorClass}} label">
  {{caption}}
</span>
{{/if}}

