{{
  fd-uml-diagram
  primitives=model.primitives
  isLinkAdding=isLinkAdding
  paper=paper
  blankPointerClick=(action "blankPointerClick")
  blankContextMenu=(action "blankContextMenu")
  startDragLink=(action "startDragLink")
  endDragLink=(action "endDragLink")
  emptyReferenceCountItems=emptyReferenceCountItems
  fitToContent=(action "fitToContent")
  openEditFormAction=openEditFormAction
}}

{{#if (known-for-type (concat "fd-uml-diagram-toolbars/fd-" diagramType "-toolbar"))}}
  <div class="fd-uml-diagram-toolbar">
    {{component (concat "fd-uml-diagram-toolbars/fd-" diagramType "-toolbar")
      toolbarButtonClicked=(action "toolbarButtonClicked")
    }}
  </div>
{{/if}}
