<button class="ui icon button help" onclick={{action 'viewHelper'}} title={{t "components.fd-view-helper.video-help-title"}}>
  <i class="icon-fd-help icon"></i>
</button>
<div class="ui flowing popup" data-variation="wide">
  <iframe width="560" height="315" src={{url}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
