<div class="field">
  {{flexberry-groupedit
      componentName="visualFormGroupedit"
      content=model.details
      readonly=false
      createNewButton=true
      deleteButton=true
      orderable=false
      readonly=readonly
  }}
</div>
