<table width='100%' border=0>
  <tr>
    <td width='256px' style='background-color:#eee'>
      {{fd-control-panel-sequence-diagram}}
    </td>
    <td  style='background-color:#ff0'>
      <div id='drawPaper'>Draw panel</div>
    </td>
  </tr>
</table>


