{{flexberry-error error=error}}
<h3>{{t 'forms.fd-association-list-form.caption'}}</h3>
<div class="row">
  {{flexberry-objectlistview
    modelName="fd-dev-association"
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    content=model
    createNewButton=true
    refreshButton=true
    deleteButton=true
    showCheckBoxInRow=true
    sorting=computedSorting
    orderable=true
    enableFilters=true
    filters=filters
    disableHierarchicalMode=true
    applyFilters=(action "applyFilters")
    resetFilters=(action "resetFilters")
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    showEditMenuItemInRow=true
    showDeleteMenuItemInRow=true
    beforeDeleteAllRecords=(action "beforeDeleteAllRecords")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="FdAssociationListForm"
  }}
</div>
