{{flexberry-error error=error}}
<h3>{{t 'forms.fd-class-list-form.caption'}}</h3>
<div class="row">
  {{flexberry-objectlistview
    modelName="fd-dev-class"
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    content=model
    createNewButton=true
    refreshButton=true
    showEditMenuItemInRow=true
    showDeleteMenuItemInRow=true
    sorting=computedSorting
    enableFilters=true
    filters=filters
    orderable=true
    rowClickable=true
    disableHierarchicalMode = true
    action="onRowClick"
    applyFilters=(action "applyFilters")
    resetFilters=(action "resetFilters")
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="FdClassListForm"
  }}
</div>
