{{flexberry-error error=error}}
<h3>{{t 'forms.fd-generation-list-form.caption'}}</h3>
<div class="row">
  {{flexberry-objectlistview
    modelName="fd-generation"
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    content=model
    createNewButton=true
    refreshButton=true
    sorting=computedSorting
    deleteButton=true
    showDeleteMenuItemInRow=true
    showCheckBoxInRow=true
    orderable=true
    enableFilters=true
    filters=filters
    disableHierarchicalMode=true
    applyFilters=(action "applyFilters")
    resetFilters=(action "resetFilters")
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="FdGenerationListForm"
    columnsWidthAutoresize=true
    customButtons=customButtons
    generationStartButtonClick='generationStartButtonClick'
  }}
</div>