<h3 class="ui header">{{model.name}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}  
 
  <div>
  {{fd-uml-diagram-editor
    model=model
    readonlyMode=true
    emptyReferenceCountItems=emptyReferenceCountItems
    sheetComponentName=sheetComponentName
  }}
  </div>
</form>