{{flexberry-error error=error}}
<h3>{{t 'forms.fd-system-list-form.caption'}}</h3>
<div class="row">
  {{flexberry-objectlistview
    modelName="fd-dev-system"
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    content=model
    createNewButton=true
    refreshButton=true
    sorting=computedSorting
    orderable=true
    enableFilters=true
    filters=filterss
    disableHierarchicalMode=true
    applyFilters=(action "applyFilters")
    resetFilters=(action "resetFilters")
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="FdSystemListForm"
  }}
</div>
